{% extends "main/base.html" %}

{% block title %} 
    Home
{% endblock %}

{% block content %}  

<div class="description" style="padding: 20px; border-radius: 50px;">
    <div class="description" style="background-color: rgba(0, 0, 0, 0.7); color: white; padding: 10px; border-radius: 25px;">
        <br/>
        <p class="fs-2 text-center">Sentry Alert and Monitoring System (SAMS)</p>
        <br/>
        <p class="font-monospace">SAMS, a cutting-edge system designed to enhance safety and vigilance in
             various applications. SAMS leverages the power of computer vision and
              edge computing to monitor the alertness of individuals in real-time. 
              Utilizing Mediapipe's advanced facial mesh technology, SAMS can detect 
              critical indicators of drowsiness or distraction such as yawning, eye 
              closure, and head position. By integrating a Raspberry Pi for processing 
              and a LoRa module for reliable wireless communication, SAMS provides a 
              robust and cost-effective solution for monitoring and alerting in challenging 
              environments.
        </p>
        <br/>
        <p class="fs-4">
            Alertness Monitoring: Yawning, Eyes Closed and Head Position
        </p>
        <p class="fs-5">
            Yawning :
        </p>
        <p class="font-monospace">SAMS can accurately identify and track yawning events by analyzing 
            the movements of the mouth corners and the jawline. When a prolonged yawn is detected, the
             system triggers an alert, indicating a potential decrease in alertness.
       </p>
        <p class="fs-5">
            Eyes Closed :
        </p>
        <p class="font-monospace">SAMS monitors eye closure by tracking the position of the eyelids. 
            When the eyes are closed for an extended period, the system sends out an alert to signal 
            potential drowsiness or distraction.
       </p>
        <p class="fs-5">
            Head Position :
        </p>
        <p class="font-monospace">SAMS analyzes head position to identify any significant tilting or nodding,
             which can be indicative of fatigue or lack of focus. If the system detects consistent head movements 
             outside of a predefined threshold, an alert is triggered.
       </p>
       <br/>
       <p class="fs-4">
        Applications: Convoy and Sentry Alert and Monitoring 
    </p>
    <p class="fs-5">
        Driver Alertness
    </p>
    <p class="font-monospace">SAMS can significantly enhance driver safety within convoys by continuously 
        monitoring the alertness of each driver. Real-time alerts can be sent to convoy leaders or dispatchers 
        if a driver exhibits signs of drowsiness or distraction.
   </p>
    <p class="fs-5">
        Early Intervention
    </p>
    <p class="font-monospace">Early detection of driver fatigue can prevent accidents and minimize disruptions 
        to the convoy. By monitoring alertness levels, SAMS enables timely intervention to ensure the safe operation 
        of the entire convoy.
   </p>
    <p class="fs-5">
        Enhanced Safety
    </p>
    <p class="font-monospace">SAMS contributes to a safer and more efficient convoy operation by minimizing the risk 
        of accidents caused by driver fatigue. It provides a valuable tool for managing driver alertness and improving 
        overall convoy safety.
   </p>
    </div>
</div>

{% endblock %}


 