{% extends "main/base.html" %}

{% block title %} 
    Monitor
{% endblock %}

{% block css %} 
    <style>
        #videos{
            display: flex; 
            justify-content: center; 
            align-items: center; 
            height: 600px; 
            width: 800px;
            margin-left: 25%;
        }
        .cameraFeed{
            border: 25px solid black;
            box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
            background-color: white;
        }
        #controlButton{
            margin: 0 auto;
            display: block;
        }
        #operations{
            background-color: black;
            padding: 20px;
        } 
    </style>
{% endblock %}

{% block content %}  
<div id="videos">
    <img class="cameraFeed" src="{% url 'video_feed' %}" />
</div>

<div id="operations">
    <button type="button" class="btn btn-primary" id="controlButton" onclick="controlStream()">Video</button>
</div>
</div>

<script>
    function controlStream() {
        var cameraFeeds = document.getElementsByClassName('cameraFeed');
        var button = document.getElementById('controlButton');

        if (cameraFeeds[0].style.display === "none") {
            button.textContent = "Stop Stream";
            for (var i = 0; i < cameraFeeds.length; i++) {
                cameraFeeds[i].style.display = "block";
            }
        } else {
            button.textContent = "Start Stream";
            for (var i = 0; i < cameraFeeds.length; i++) {
                cameraFeeds[i].style.display = "none";
            }
        }
    }

    // Initially hide the camera feed
    window.onload = function() {
        var cameraFeeds = document.getElementsByClassName('cameraFeed');
        for (var i = 0; i < cameraFeeds.length; i++) {
            cameraFeeds[i].style.display = "none";
        }
    }
</script>   
{% endblock %}


